@model IEnumerable<LocalBrands.Models.Order_Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_accepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_shipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Return)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnReason)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_accepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_shipped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Return)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnReason)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_Item_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_Item_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_Item_id })
        </td>
    </tr>
}

</table>
