@model IEnumerable<LocalBrands.Models.Order>

@{ var order = ViewBag.Status;
    ViewBag.Title = "My Orders";
    Layout = "~/Views/Shared/_Client.cshtml";
}

<h2 class="title text-center">@ViewBag.Title</h2>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="text-align:center;">My Orders</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr lass="table-header-row">
                        <th scope="col">Order Number</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col"> Driver</th>
                        <th scope="col"> QR Code</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th scope="row">@item.Order_ID</th>
                        <td>@item.date_created</td>
                        <td>@item.status</td>
                        @if (item.Driver_ID != null)
                        {
                            <td>@item.Driver.FirstName @item.Driver.LastName</td>
                        }
                        else
                        {
                            <td>NA</td>
                        }
                    <td>
                        @if (User.IsInRole("Customer") && item.status == "Assigned To Driver")
                        {

                            <div class="main-button">
                                <a href="@Url.Action("GetQRCode", "Orders", new { id =item.Order_ID } )" class="btn btn-dark mt-auto">Get QR Code</a>
                            </div>

                        }
                    </td>
                            <td>
                                <div class="main-button">
                                    <a href="@Url.Action("Order_Details", "Orders", new { id =item.Order_ID } )" class="btn btn-dark mt-auto">Order Details</a>
                                </div>
                            </td>
                        </tr>}
                </tbody>
            </table>
        </div>
    </div>
</div>
