
@model IEnumerable<LocalBrands.Models.BrandOwner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandOwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandOwnerSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandOwnerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandOwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandOwnerSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandOwnerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
      
        </tr>
    }

</table>
