@model IEnumerable<LocalBrands.Models.Order>
@using LocalBrands.Models
@{ ViewBag.Title = "Stock Orders";
    ApplicationDbContext db = new ApplicationDbContext();
    var drivers = db.Drivers.ToList();
    }
<h2 class="title text-center">@ViewBag.Title</h2>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="text-align:center;">All Orders</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr lass="table-header-row">
                        <th>
                            ID
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Time
                        </th>
                        @*<th>
            Shipping
        </th>*@
                        <th>
                            Status
                        </th>

                        <th>Pick a Driver</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Order_ID)
                        </td>
                        <td>
                            @item.date_created.ToLongDateString()
                        </td>
                        <td>
                            @item.date_created.ToLongTimeString()
                        </td>
                        @*<td>
            @if(item.shipped)
            {
                <i class="fa fa-check">  Yes</i>
            }
            else
            {
                <i class="fa fa-ellipsis-h">  No</i>
            }
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @if (item.Driver_ID == null)
                            {<ul>
                                    @foreach (var item2 in drivers.Where(x => x.Busy != true))
                                    {
                    <li>
                        <a href="@Url.Action("DriverAssign", "Admin", new { id = item2.DriverID, id2 = item.Order_ID })">@item2.FirstName</a>
                    </li>}

                                </ul> }
                                                else
                                                {
                                @item.Driver.FirstName <h6>(Assigned)</h6>}
                        </td>
                        <td>
                            <a href="@Url.Action("Order_Details","Orders", new { id=item.Order_ID })" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs"><i class="fa fa-eye"></i></a>
                        </td>
                       
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

